main h1 {
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

main p {

}

#homerHome {
	width: 60%;
	display: block;
	margin: auto;
	margin-top: 50px;
}

#home-presentation {
	font-size: 18px;
	font-family:  "Oswald-SemiBold", cursive;
	line-height: 2;
	text-align: center;
}

